<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag @user.image_url(:thumb) %>
        <h2><%= @user.name %></h2>
        <h2><%= @user.gender %></h2>
      </h1>
    </section>
  </aside>
</div>
